Условие 1:
Оформляйте ноутбук, используя эти советы:
Номер задачи - заголовок 2
Номер подзадачи - заголовок 3
Предоставленные наборы данных оформляйте, как код
Рекомендации для преподавателей по оценке задания:
Смотреть, чтобы студент красиво оформлял ноутбук, использовал ячейки с текстом, указывал номера заданий

## Условие 2:
На складе лежат разные фрукты в разном количестве.
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [11]:
fruits = {'apple': 100, 'orange': 10, 'banana': 300}

In [1]:
def show_total_amount(**fruits):
    tot_sum = 0
    for val in fruits.values():
        tot_sum += val
    return tot_sum

show_total_amount(apple = 100, orange = 10, banana = 300)

410

## Условие 3:
Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты
[100, 125, -90, 345, 655, -1, 0, 200]
Используйте list comprehensions

In [19]:
whole_list = [100, 125, -90, 345, 655, -1, 0, 200]

In [20]:
tot_list = [i for i in whole_list if i >= 0]
tot_list

[100, 125, 345, 655, 0, 200]

## Условие 4.1:
Даны два списка.
Дата покупки
['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
Суммы покупок по датам
[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

In [5]:
dates = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
prices = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

dict_of_dates_and_prices = {dates[i]: prices[i] for i in range(len(dates))}
dict_of_dates_and_prices

{'2021-09-14': 1270,
 '2021-12-15': 8413,
 '2021-09-08': 9028,
 '2021-12-05': 3703,
 '2021-10-09': 2732,
 '2021-09-30': 2008,
 '2021-12-22': 295,
 '2021-11-29': 4944,
 '2021-12-24': 5723,
 '2021-11-26': 3701,
 '2021-10-27': 4471,
 '2021-12-18': 651,
 '2021-11-09': 316,
 '2021-11-23': 4274,
 '2021-09-27': 6275,
 '2021-10-02': 4988,
 '2021-12-27': 6930,
 '2021-09-20': 2971,
 '2021-12-13': 6333,
 '2021-11-01': 2004,
 '2021-12-06': 519,
 '2021-12-08': 3406,
 '2021-10-31': 5015,
 '2021-10-26': 5700,
 '2021-12-09': 2887}

### 4.1 Найдите, какая выручка у компании в ноябре
Используйте list comprehensions

In [35]:
tot_sum = 0

tot_sum = sum([v for k, v in dict_of_dates_and_prices.items() if k.split('-')[1] == '11'])

# for k, v in dict_of_dates_and_prices.items():
#     if k.split('-')[1]=='11':
#         tot_sum += v
tot_sum

15239

### 4.2 Найдите выручку компании в зависимости от месяца
Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.
Используйте аннотирование типов.

In [6]:
def get_monthly_dict(key:list, value:list) -> dict:
    res_dict = {}
    for i in range(len(key)):
        month = key[i].split('-')[1]
        if month in res_dict.keys():
            res_dict[month] += value[i]
        else:
            res_dict[month] = value[i]
    return res_dict

get_monthly_dict(dates, prices)

{'09': 25647, '12': 45452, '10': 28645, '11': 25098}